@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #efefef;
  --bg2: #f2f2f7;
  --bg3: #fafafc;
  --product-background: #eaeaee;
  --primary: #EC008C;
  --secondary: #007aFF;
  --notblack: #696969;
  --sale-gray: #E5E5EA;
  --sale-primary: #ebff00;
  --text: #aaaaaa;
  --dark: #2c2c2e;
}

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: var(--bg3);
}

h1,h2,h3,h4,h5,h6,a,p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

input, textarea {
  padding: 7px 8px;
  font-size: 16px;
  width: 95%;
  border-radius: 0.375rem;
  border: 1px solid rgb(220, 220, 220);
  font-family: "Inter", sans-serif;
}

input:focus, textarea:focus {
  border-color: white;
  outline: 2px solid var(--primary);
}

select {
  font-size: 12px;
  color: var(--notblack);
  border: none;
  background: inherit;
  padding: 3.5px;
  border-radius: 0;
}

select:focus {
  outline: none;
}


.button, .a-button {
  width: max-content;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px !important;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0 50px;
  cursor: pointer;
  border: none;
  outline: 0;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out,border .2s ease-in-out,transform .2s ease-in-out;
  font-weight: 600;
  line-height: 1;
  font-size: 1rem;
  background-color: black;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.button:hover, .a-button:hover {
  background-color: var(--dark);
}

/* Header */
.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform .35s ease-in-out;
  pointer-events: none;
}

.main-header-active {
  pointer-events: all;
  transform: translateY(-1px);
}

.header {
  background: white;
  font-family: "Poppins", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0 1.25rem;
}

.header-container {
  height: 65px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1258px;
}

.header-container a {
  font-size: 17px;
  font-weight: 500;
  padding: 0.5rem;
  margin-right: 40px;
  letter-spacing: 1.5px;
}

.header-sale {
  color: var(--primary);
  display: flex;
  align-items: center;
}

.header-sale svg {
  margin-right: 6px;
}

.header-cart {
  padding: 0 !important;
  margin: 0 0 0 auto !important;
}

.carticon {
  position: relative;
  width: 24px;
  height: 24px;
}

.carticon-active::after {
  opacity: 1 !important;
}

.carticon::after {
  opacity: 0;
  content: "";
  height: 6px;
  width: 6px;
  right: -2px;
  top: -4px;
  position: absolute;
  background-color: var(--primary);
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 var(--primary);
  transform: scale(1);
  animation: 2.5s infinite pulsegentle;
  transition: opacity .35s ease-in-out;
}

@keyframes pulsegentle {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 #ec008c99;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 3px #ec008c00;
  }
  100% {
    transform: scale(.95);
    box-shadow: 0 0 #ec008c00;
  }
}

@media screen and (max-width: 1000px) {

  .header-container a {
    margin-right: 0 !important;
  }

  .header-container a:not(:first-child) {
    display: none;
  }

  .logo {
    display: block !important;
    margin: 0 auto;
  }

  .header-container a:last-child {
    display: block;
  }
}


/* Info container */
.info {
  background: var(--bg2);
  height: 40px;
  padding: 0 1.25rem;
}

.info-container {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 auto;
  max-width: 1258px;
}

.login-help {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-help a {
  padding-left: 8px;
  margin-left: 8px;
  font-size: 12px;
  color: var(--notblack);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-help svg {
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  .info {
    display: none;
  }
}

/* Announcement */

@media screen and (max-width: 1000px) {
  .announcement {
    height: 30px !important;
  }

  .announcement p {
    font-size: 12px;
  }
}

.announcement {
  height: 40px;
  font-size: 15px;
  background: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sidenav */
.showsidenav {
  left: 0 !important;
  transition: left .2s ease-in-out;
}

.sidenav {
  position: absolute;
  background: var(--bg3);
  border-top: 1px solid var(--bg);
  z-index: 99;
  width: 330px;
  left: -330px;
  height: calc(100vh - 105px);

  display: flex;
  flex-direction: column;

  transition: left .2s ease-in-out;
}

.sidenav .login-help {
  display: block;
  margin: 0;
}

.sidenav .login-help a {
  font-size: 14px;
  font-weight: 400;
  padding: 1.25rem 0.8rem;
  letter-spacing: 1px;
  justify-content: flex-start;
  background: var(--bg3);
}

.sidenav a {
  padding: 1.25rem;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1.5px;
  border-bottom: 1px solid var(--bg);
  background: white;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav select {
  width: 100% !important;
  padding: 1.25rem 0;
  margin: 0 1.25rem;
  font-size: 16px;
}

.overlayshow {
  opacity: 1 !important;
  visibility: visible !important;
}

.overlayhide {
  opacity: 0 !important;
  visibility: hidden !important;
}

.overlay {
  position: absolute;
  top: 105px;
  height: 100vh;
  width: 100%;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0s;
}

/* Hamburger menu */
/* GENERAL STYLES */
.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

@media screen and (max-width: 1000px) {
  .burgericon {
    display: block !important;
  }
}

.burgericon {
  display: none;
}

.hamburger {
  margin: 0 auto;
  width: 25px;
  height: 20px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 25px;
  height: 2px;
  background-color: black;
  display: block;
  border-radius: 4px;
  transition: all .2s ease-in-out;  
  position: absolute; 
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 9px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

/* HAMBURGER 1 */
.checkbox1:checked + label > .hamburger1 > .bar1{
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 28px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 28px;
}

/* index */
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Banner */
@media screen and (max-width: 1440px) {
  .banner {
    width: 100% !important;
    height: 540px !important;
  }
  .productlist-banner {
    width: 100%;
    height: 150px !important;
  }

  .productlist-banner img {
    width: 100%;
    height: 100px !important;
  }
}

.banner {
  width: 1440px;
  height: 740px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productlist-banner {
  width: 100%;
  height: 300px;
}

.productlist-banner img {
  width: 200px !important;
}

.banner img {
  width: 300px;
}

.banner .button {
  margin-top: 30px;
  background-color: white;
  color: black;
}

/* Bestseller product */

.bestsellers {
  width: 1440px;
}

.bestsellers-container {
  display: flex;
  margin: 60px 0;
}

.bestsellers-text {
  width: 400px;
  padding: 20px 30px 20px 0;
}

.bestsellers-text h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.bestsellers-text b {
  font-weight: 500;
  color: var(--primary);
}

.bestsellers-text p {
  color: var(--notblack);
  margin-bottom: 20px;
}

.bestsellers-text .a-button {
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--notblack);
  background: inherit;
  border: 1px solid var(--text)
}

.bestsellers-products {
  display: flex;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  width: 300px;
}

.product-text {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 190px;
  padding: 20px;
}

.product-text a {
  font-size: 17px;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
}

.price {
  color: var(--primary);
  font-size: 30px;
  font-weight: 500;
  margin-top: 8px;
}

.oldprice {
  margin-top: 5px;
  color: var(--text);
  font-size: 15px;
  font-weight: 400;
}

.oldprice b {
  font-weight: 400;
  text-decoration: line-through;
}

.product-text .button {
  margin-top: 25px;
  width: 100%;
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
}

.product-text a {
  margin-top: auto;
}

.sale-pill {
  position: absolute;
  transform: translate(-50%);
  top: -20px;
  padding: 6px 15px;
  border-radius: 8px;
  border: 1px solid var(--text);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  left: 50%;
}

.product-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  background: var(--product-background);
  width: 300px;
  height: 300px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1440px) {
  .bestsellers {
    width: 100%;
  }
  
  .bestsellers-container {
    flex-direction: column;
    align-items: center;
  }

  .bestsellers-text {
    width: 100% !important;
    padding: 0;
  }

  .bestsellers-text h1,
  .bestsellers-text p,
  .bestsellers-text .a-button {
    margin-left: 20px;
  }

  .bestsellers-text .a-button {
    margin-bottom: 40px;
  }

  .bestsellers-products {
    width: 100%;
  }

  .bestsellers-products .product-card:first-child {
    margin-left: 20px;
  }
}

/* Skeleton */
@keyframes pulse {
  0% {
    background-color: #e6e6e6; /* Light gray color */
  }
  50% {
    background-color: #c5c5c5; /* Slightly lighter gray color */
  }
  100% {
    background-color: #e6e6e6; /* Light gray color */
  }
}

.skeleton {
  animation: pulse .5s infinite;
}

.skeleton-image {
  width: 300px;
}

.placeholder {
  width: 300px;
  height: 300px;
}

.placeholder-text {
  width: 200px;
  height: 30px;
}

.placeholder-price {
  width: 120px;
  height: 30px;
}

.placeholder-oldprice {
  width: 80px;
  height: 20px;
}

.placeholder-bundle {
  width: 70px;
  height: 48px;
}

.smallbanner {
  width: 100%;
  background: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

/* SmallBanner */
.smallbanner h2 {
  font-size: 32px;
}

.smallbanner .a-button {
  margin-top: 20px;
  background: inherit;
  border: 2px solid white;
}

.smallbanner .a-button:hover {
  background: white;
  color: black;
}

/* InfoBanner */
.infobanner {
  color: white;
  display: flex;
  width: 1440px;
  height: 600px;
  background: #1c1c1e;
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  border-radius: 10px;
  position: relative;
}

.infobanner .banner-dots {
  position: absolute;
  top: 0;
  right: 0;
}

.infobanner-text {
  padding: 50px;
}

.infobanner-text h2 {
  font-size: 45px;
  color: var(--sale-primary);
  font-weight: 600;
  line-height: 1;
}

.infobanner-text h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  margin: 5px 0 10px 0;
}

.infobanner-text p {
  width: 60%;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.infobanner-text .a-button {
  margin-top: 20px;
  background: inherit;
  border: 2px solid white;
}

.infobanner-text .a-button:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 1000px) {
  .infobanner {
    width: 100%;
    height: 100% !important;
    border-radius: 0;
  }

  .infobanner img {
    z-index: 2;
    width: 200px;
    height: 200px;
  }

  .infobanner-text {
    z-index: 3;
    width: 100% !important;
  }

  .infobanner-text p {
    width: 100%;
  }

  .infobanner-text .a-button {
    width: 100%;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 1258px;
}

.footer-container .mail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c1c1e;
  color: white;
  padding: 50px;
  margin-bottom: 60px;
}

.footer-container .mail h2,
.footer-container .mail p,
.footer-container .mail form {
  width: 300px;
}

.footer-container form {
  display: flex;
  align-items: center;
  position: relative;
}

.footer-container form button {
  position: absolute;
  height: 36px;
  background: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.footer-container .links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  width: 800px;
  margin-bottom: 40px;
}

.footer-container .links p {
  margin-bottom: 15px;
}

.footer-container .links a {
  color: #696969;
  font-size: 13px;
  font-weight: 400;
}

.footer-container .links a:hover {
  text-decoration: underline;
}

.footer-container .links h2 {
  color: rgb(71, 71, 71);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.bottom {
  background: #f2f2f7;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-container {
  width: 1258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payments {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom img {
  margin: 0 5px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.bottom p {
  color: #696969;
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  .footer-container {
    width: 100%;
  }

  .footer-container .mail {
    flex-direction: column;
  }

  .footer-container .mail h2,
  .footer-container .mail p,
  .footer-container .mail form {
    width: 100%;
    padding: 10px 0;
  }

  .footer-container .links {
    flex-direction: column;
    width: 90%;
    padding-left: 20px;
  }

  .footer-container .links > div {
    margin-bottom: 20px;
  }

  .footer-container .links h2,
  .footer-container .links p,
  .footer-container .links div {
    width: 90% !important;
  } 
  .bottom {
    width: 100%;
  }
  .bottom-container p {
    font-size: 8px;
  }
  .bottom-container {
    padding: 0 5px;
  }
  .payments img {
    width: 20px;
    margin: 0 2px;
  }
}

/* Form */
.form {
  display: flex;
  justify-content: center;
  height: 700px;
}

.form-container {
  width: 500px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 400;
}

.form-container p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
}

.form-container p a {
  color: var(--primary);
  text-decoration: underline;
}

.form-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-container input {
  height: 35px;
  width: calc(100% - 24px) !important;
  padding: 8px 12px !important;
}

.form-container > div label {
  color: var(--notblack);
  line-height: 2.5;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}

.form-container .forgotpassword {
  color: var(--primary);
  text-decoration: underline;
  width: 100%;
  font-size: 14px;
}

input::placeholder {
  color: #afafaf;
}

.form-container button {
  width: 100%;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.form-login {
  height: 500px !important;
}

.account {
  background: var(--bg2);
  padding: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.account-container {
  width: 1200px;
  display: flex;
}

.account .greeting {
  padding: 20px;
  flex: 3;
}

.account .greeting h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.account .greeting p {
  color: var(--notblack);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.account .greeting button {
  width: 100%;
}

.account .greeting button svg {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 800;
}

.account .orders {
  padding: 20px;
  flex: 6;
}

.account .orders h2 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.account .orders p {
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .account-container {
    flex-direction: column;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.singlep-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singlep-main-container {
  width: 1100px;
  display: flex;
  justify-content: space-between;  
}

.singlep-main-image {
  width: 600px;
}

.singlep-main-image > img {
  object-fit: cover;
  height: 650px;
}

.image-thumbnails {
  display: flex;
  overflow-x: scroll;
}

.image-thumbnails img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

.singlep-main-info {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.singlep-main-info .titles a {
  font-weight: 500;
  font-size: 16px;
  color: var(--notblack);
}

.singlep-main-info .titles h1 {
  font-size: 40px;
  padding-top: 5px;
}

.smalldesc {
  margin: 10px 0;
}

.smalldesc p {
  padding: 3px 0;
  font-weight: 300;
  color: var(--dark);
}

.product-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.currentlyviewing {
  background: var(--bg2);
  border: 1px solid #dbdbdb;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 11px;
  width: 100%;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentlyviewing img {
  margin-right: 5px;
}

.product-bundle {
  width: 100%;
  background-color: white;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.product-bundle > p {
  text-align: center;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.bundles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
}

.bundles .option-selected {
  border-color: var(--primary) !important;
  background: rgba(235, 0, 141, 0.1) !important;
}

.bundle {
  padding: 15px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.bundle:hover {
  background: rgba(235, 0, 141, 0.05);
}

.circle {
  padding: 3px;
}

.bundle-text {
  width: 90%;
}

.bundle-text .pack {
  font-size: 18px;
  font-weight: 600;
}

.bundle-text h1 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 600;
}

.savings .save {
  font-size: 14px;
  font-weight: 400;
  color: var(--notblack);
}

.savings .was {
  font-weight: 400;
  font-size: 14px;
  color: var(--notblack);
}

.savings .was b {
  font-weight: 400;
  text-decoration: line-through;
}

.bundle-text > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bundle-text div:first-child {
  margin-bottom: 10px;
  position: relative;
}

.bundle-text .percentageoff {
  position: absolute;
  left: 65px;
  background: white;
  font-weight: 500;
  border: 1px solid var(--notblack);
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
}

.bundles .option-selected .centercircle {
  border-color: var(--primary) !important;
}

.bundles .option-selected .innercircle {
  display: block !important;
}

.bundles .centercircle {
  border-radius: 50%;
  border: 1px solid #8b8b8b;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  position: relative;
}

.bundles .innercircle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--primary);
  width: 12px;
  height: 12px;
  z-index: 3;
}

.addtocart {
  background: var(--secondary);
  width: 90%;
  margin: 0 auto 20px auto;
  font-size: 16px !important;
}

.addtocart:hover {
  background: rgba(0, 123, 255, 0.9);
}

.smalladdtocart {
  background: black;
  margin: 0;
  height: 50px;
}

.smalladdtocart:hover {
  background-color: var(--dark);
}

.added {
  background: #34c759;
}

.added:hover {
  background: #34c759;
}

.dropdowns {
  background: white;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 10px 0;
  padding: 0 20px;
}

.dropdowns .dropdown:last-child {
  border-bottom: none;
}

.dropdown.open .dropdown {
  border-bottom: 1px solid #dbdbdb !important;
}

.dropdown {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #dbdbdb;
}

.dropdown-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0; 
}

.dropdown h1 {
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.dropdown-p {
  max-height: 0;
  overflow: hidden;
  color: #707070;
  transition: max-height 0.15s ease-in-out;
}

.dropdown.open .dropdown-p {
  max-height: 300px;
}

.dropdown .dropdown-p p {
  padding-bottom: 20px;
}

.singlep-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.singlep-desc-banner {
  width: 1100px;
  display: flex;
  align-items: center;
  padding: 80px 0 0 0;
}

.singlep-desc .singlep-desc-banner:last-child {
  padding-bottom: 80px;
}

.singlep-desc-text {
  padding-right: 80px;
}

.singlep-desc-text h1 {
  font-weight: 500;
  font-size: 35px;
}

.singlep-desc-text p {
  color: var(--notblack);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 25px;
  line-height: 1.5;
}

.invert {
  padding-right: 0;
  padding-left: 80px;
}

/* Review */
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.reviews-container {
  width: 1100px;
}

.reviews-container > h2 {
  font-size: 30px;
}

.reviews-container section {
  display: flex;
}

.customer-reviews {
  flex: 6;
  margin-right: 80px;
}

.customer-reviews button {
  margin: 20px 0;
}

.review {
  display: flex;
  padding: 30px 0;
}

.review:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}

.review > svg {
  flex: 1;
  width: 100%;
  margin-right: 5px;
}

.customer-text {
  flex: 8;
}

.customer-top div {
  display: flex;
  align-items: center;
}

.customer-top h3 {
  font-size: 16px;
}

.customer-top .verified-purchase {
  font-size: 12px;
  color: #02aa2c;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-top .verified-purchase svg {
  width: 12px;
  height: 12px;
  fill: #02aa2c;
  margin-left: 10px;
  margin-right: 3px;
}

.customer-top > p {
  color: var(--notblack);
  font-weight: 400;
  font-size: 14px;
  margin: 3px 0 0 0;
}

.customer-middle {
  margin-top: 10px;
}

.customer-middle div {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.customer-middle div p {
  margin-left: 15px;
}

.customer-middle > p {
  margin-top: 10px;
  color: var(--dark);
}

.overall-rating {
  flex: 4;
}

.star-rating {
  display: flex;
}

.star {
  width: 22px;
  height: 22px;
}

.overall-rating {
  border: 1px solid #dbdbdb;
  height: fit-content;
  border-radius: 8px;
}

.overall-rating > h3 {
  padding: 20px 0 0 20px;
}

.overall-rating-top {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.overall-rating-top h2 {
  font-size: 40px;
  padding: 0 10px 0 0;
  line-height: 1;
}

.overall-rating-top div {
  font-size: 12px;
}

.overall-rating-middle {
  padding: 15px 25px;
}

.star-rating-bars {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.star-rating-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-rating-label {
  display: flex;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.star-rating-label svg {
  margin-right: 5px;
}

.star-rating-progress {
  height: 8px;
  background-color: #e2e2e2; /* Set the default background color to #ccc */
  border-radius: 4px;
  overflow: hidden;
}

.star-rating-progress-filled {
  height: 100%;
  background-color: #ffbb00; /* Set the progress bar color to #ffbb00 */
}

.starcounts {
  margin-left: 10px;
}

.overall-rating-write {
  background: var(--bg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}

.overall-rating-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overall-rating-write p:first-child {
  font-weight: 600;
  font-size: 14px;
}

.overall-rating-write p:last-child {
  font-size: 12px;
}

.overall-rating-write button {
  padding: 0 8px;
  height: 35px;
  font-size: 12px !important;
  border-radius: 4px;
  background: var(--primary);
}

.overall-rating-write button:hover {
  background: var(--primary);
}

.review-form {
  width: 100%;
}

.review-form-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-form-container label {
  margin: 5px 0;
}

.review-form-container input {
  width: 95%;
  margin-top: 5px;
}

.textarea {
  display: flex;
  flex-direction: column;
}

.textarea textarea {
  resize: vertical;
  margin: 5px 0 25px 0;
}

.review-form-container button {
  width: 100%;
  height: 40px;
  font-size: 14px !important;
  font-weight: 600;
}

.star-form {
  font-size: 24px;
  cursor: pointer;
  margin-top: 5px;
  width: fit-content;
}

.starSelect {
  display: inline-block;
  margin-right: 4px;
}

.selected {
  color: #ffbb00;
}

@media screen and (max-width: 1000px) {
  .singlep-main-container {
    flex-direction: column;
    width: 100%;
  }

  .singlep-main-image {
    width: 100%;
  }

  .singlep-main-image > img {
    width: 100%;
    height: 500px;
  }

  .singlep-main-info {
    width: 100%;
    margin-top: 20px;
  }

  .titles {
    padding: 0 20px;
  }

  .smalldesc {
    padding: 0 20px;
  }

  .product-payment {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .dropdowns {
    margin: 0 10px;
  }

  .singlep-desc-banner {
    width: 100%;
    flex-direction: column;
  }

  .singlep-desc div:nth-child(even) {
    flex-direction: column-reverse;
  }

  .singlep-desc-text {
    padding: 0 !important;
  }

  .invert {
    padding: 0 !important;
  }

  .singlep-desc-text h1 {
    padding: 0 20px;
  }

  .singlep-desc-text p {
    padding: 0 20px 30px 20px;
  }

  .singlep-desc-banner img,
  .singlep-desc-banner video {
    width: 100%;
  }

  .customer-reviews {
    margin: 0;
  }

  .reviews-container {
    width: 100%;
  }

  .reviews-container > h2 {
    margin-bottom: 20px;
    font-size: 24px;
    padding: 0 20px;
  }

  .reviews-container section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .review {
    margin: 0 20px;
  }

  .review > svg {
    display: none;
  }

  .overall-rating {
    width: calc(100% - 40px);
  }

  .overall-rating-write button {
    padding: 0 6px;
    height: 30px;
    font-size: 10px !important;
  }

  .overall-rating-write p:last-child {
    font-size: 10px;
  }

  .customer-reviews button {
    margin: 20px;
  }
}

/* Cart */

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.cart-container {
  width: 1258px;
}

/* Cart Content */

.cart-contents {
  margin-top: 25px;
}

.cart-contents-container {
  display: flex;
  flex-direction: column;
}

.cart-product {
  background: white;
  border: 1px solid var(--bg2);
  padding: 24px 20px;
  margin-bottom: 25px;
}

.cart-product > a {
  font-size: 18px;
  font-weight: 500;
}

.cart-product-info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.cart-product-info img {
  margin-right: 1.5rem;
  background: var(--bg);
}

.cart-product-text {
  margin-right: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cart-product-text .saving {
  background: var(--sale-primary);
  border: 1px solid rgb(207, 225, 0);
  padding: 0.4rem 0.65rem;
  margin-bottom: 8px;
  font-size: 12px;
  border-radius: .2rem;
  font-weight: 600;
  width: fit-content;
}

.cart-product-text .prices {
  display: flex;
  align-items: center;
}

.cart-product-text p:first-child {
  color: var(--text);
  font-size: 12px;
  margin-right: 8px;
}
.cart-product-text p:first-child b {
  font-weight: 400;
  text-decoration: line-through;
}

.cart-product-text p:last-child {
  color: var(--primary);
  font-weight: 500;
}

.increment-decrement {
  display: flex;
  margin-top: 16px;
}

.increment-decrement > * {
  border: 1px solid #dbdbdb;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.increment-decrement button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.increment-decrement p {
  width: 30px;
  font-size: 14px;
  font-weight: 500;
  border-right: none;
  border-left: none;
}

.remove {
  border: none;
  background: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.remove svg {
  color: #8b8b8b;
}

.small-desc-title {
  width: fit-content;
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
  color: var(--notblack);
}

.normal {
  text-decoration: none !important;
  cursor: text;
}

.small-desc-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out; /* Adjust the transition duration as needed */
}

.small-desc-content ul {
  list-style: none;
  padding: 0;
}

.small-desc-content li {
  color: var(--notblack);
  margin: 3px 0;
}

.small-desc-content.open {
  max-height: 1000px; /* Set a suitable max-height for the dropdown */
}

.cart-checkouts {
  background: #f9eef6;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 15px;
  color: var(--notblack);
  position: relative;
}

.cart-checkouts .carticon::after {
  height: 8px;
  width: 8px;
  top: 8px;
  right: 8px;
}

.fade-container {
  transition: opacity 0.3s ease; /* Adjust the duration and timing function as needed */
}

.cart-main {
  display: flex;
}

.cart-contents {
  flex: 6;
}

.cart-checkout {
  flex: 3.5;
  height: fit-content;
  background: white;
  margin-top: 25px;
  margin-left: 25px;
  padding: 24px 20px;
  border: 1px solid var(--bg2);
}

.cart-checkout-container {
  display: flex;
  flex-direction: column;
}

.cart-checkout-container h1 {
  font-weight: 600;
  font-size: 20px;
}

.cart-checkout-container h1 b {
  font-weight: 400;
  font-size: 18px;
  color: var(--notblack);
}

.checkout-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: right;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg2);
}

.checkout-top p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.checkout-top span {
  background: var(--sale-primary);
  border: 1px solid rgb(207, 225, 0);
  padding: 0.4rem 0.65rem;
  margin-bottom: 8px;
  font-size: 12px;
  border-radius: .2rem;
  font-weight: 600;
  width: fit-content;
}

.save-shipping {
  border-bottom: 1px solid var(--bg2);
  font-size: 13px;
  display: flex;
  color: #333333;
  align-items: center;
  height: 50px;
}

.cart-checkout-container .checkout {
  padding: 20px 0;
  border-bottom: 1px solid var(--bg2);
  cursor: pointer;
}

.checkout > .a-button {
  width: 100%;
  margin-bottom: 20px;
}

.cart-checkout-container .checkout button {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px !important;
}

.cart-checkout-container .checkout img {
  margin: 0 2px;
  border: 1px solid var(--bg);
  border-radius: 3px;
}

.protection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.protection-text {
  margin: 0 20px 0 10px;
  width: 200px;
}

.protection-text > p {
  font-size: 12px;
  width: 100%;
}

.protection-text > div p {
  font-weight: 600;
  font-size: 15px;
} 

.protection-text > div h2 {
  font-size: 15px;
  margin-right: 10px;
}

.protection-text > div {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.switch {
  width: 55px;
  height: 22px;
  background-color: #ccc;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.15s ease;
}

.slider {
  position: absolute;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.15s ease-in-out;
}

.switch.on {
  background-color: var(--secondary); /* Color when switch is on */
}

.switch.off {
  background-color: #ccc; /* Color when switch is off */
}

.switch.on .slider {
  transform: translateX(33px);
}

.switch.off .slider {
  transform: translateX(0);
}

@media screen and (max-width: 1000px) {
  .cart-checkouts {
    margin: 0 10px;
    height: 30px;
    font-size: 12px;
  }

  .cart-contents {
    margin-top: 10px;
  }

  .cart {
    margin: 10px 0 30px 0;
  }

  .cart-main {
    flex-direction: column;
  }

  .cart-container {
    width: 100%;
  }

  .cart-checkout {
    margin-left: 0;
    margin-top: 0;
  }

  .cart-product {
    margin-bottom: 10px;
  }

  .save-shipping {
    font-size: 11px;
  }
  .checkout .payments img {
    width: 30px !important;
  }

  .protection-text {
    width: 60%;
  }

  .protection-text > p {
    font-size: 10px;
  }

  .protection-text > div p {
    font-size: 12px;
  } 
  
  .protection-text > div h2 {
    font-size: 12px;
  }

  .protection img {
    width: 40px;
  }
}

/* ProductList */
.productlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productlist-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productlist-title-container {
  width: 1280px;
  display: flex;
}

.productlist-title-container h1 {
  padding: 40px 12px 0 12px;
}

.productlist-container {
  width: 1280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
}

.productlist-container .product-card {
  margin: 20px 10px;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-container {
  width: 1258px;
  display: flex;
  margin-top: 50px;
  padding: 20px;
  background: #e9ffef;
  margin-bottom: 50vh;
}

.success-container svg {
  color: #4ade80;
  height: 40px;
  width: 40px;
}

.success-text h1 {
  font-size: 22px;
  color: #166534;
  padding: 5px 10px;
}

.success-text p {
  color: var(--notblack);
  padding: 5px 10px 15px;
  font-size: 14px;
  width: 80%;
  color: #15803D;
  margin-bottom: 10px;
}

.success-text div {
  display: flex;
}

.success-text div a {
  margin-right: 10px;
  height: 40px;
  padding: 12px 24px;
}

.success-text div a:first-child {
  background: inherit;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #15803D;
  border: 1px solid #15803D;
}

/* Order */
.orders {
  display: flex;
  flex-direction: column;
}

.order {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  cursor: pointer;
}

.order p:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order img {
  margin-left: 10px;
}