---
import Layout from '../../layouts/Layout.astro';

const title = "Over ons"
const description = "Over ons"
---

<Layout title={title} description={description}>
	<section class="contact-us">
		<div class="contact-us-container">
			<div>
				<h1>Over ons</h1>
			</div>
			<div>
				<p>DETOTE is niet zomaar een beautywinkel; het is een passievol team gevestigd in het hart van Amsterdam, dat zich dagelijks inzet om de nieuwste trends in de beautywereld te ontdekken. Wij streven ernaar om hoogwaardige producten aan te bieden tegen een concurrerende prijs, en we verwelkomen graag uw feedback om onze service voortdurend te verbeteren.</p>
			</div>
			<div>
				<h2>Ons Aanbod</h2>
				<p>Bij DETOTE laten we ons inspireren door de nieuwste trends op het gebied van beauty. Elke dag streven we ernaar om u, als liefhebber van schoonheid, te verrassen met onze uitgebreide collectie accessoires en beautyproducten.</p>
			</div>
			<div>
				<h2>Onze Service</h2>
				<p>Bij DETOTE begrijpen we het belang van uitstekend klantcontact. Of u nu vragen heeft via Facebook, Instagram, Tiktok, Pinterest, Youtube of onze website, we doen er alles aan om deze snel en adequaat te beantwoorden. Onze toewijding aan kwaliteit en 100% tevredenheidsgarantie staat centraal in alles wat we doen.</p>
			</div>
			<div>
				<h2>Gratis Cadeau bij elke aankoop + Gratis Verzendkosten</h2>
				<p>Wij geloven in zorgeloos winkelen en het belonen van trouwe klanten. Daarom nemen wij de verzendkosten voor onze rekening. We geven ook bij elke aankoop een gratis cadeau. Neem gerust een kijkje in onze webshop, en we hopen u binnenkort te verwelkomen in de DETOTE-familie.</p>
			</div>
			<div>
				<p>X Team DETOTE</p>
			</div>
		</div>
	</section>
</Layout>

<script>
	import { initVisit } from '../../stores/visit';

	const generateUUID = () => {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
			const r = (Math.random() * 16) | 0;
			const v = c === 'x' ? r : (r & 0x3) | 0x8;
			return v.toString(16);
		});
	};

	initVisit().then((data) => {
		pintrk('track', 'pagevisit', {
			event_id: generateUUID(),
			ip_address: data,
		});
	});
</script>