---
import Layout from '../../layouts/Layout.astro';

const title = "Shipping policy"
---

<Layout title={title}>
	<section class="contact-us">
		<div class="contact-us-container">
			<div>
				<h1>Return Policy</h1>
			</div>
			<div>
				<h2>Full Refund for Broken Products</h2>
				<p>We strive to deliver products in perfect condition, but we understand that accidents can happen during transit. If your product arrives broken or damaged, we offer a hassle-free return policy.</p>
			</div>
			<div>
				<h2>Return Procedure</h2>
				<ol>
					<li><b>Contact Us: </b>Please reach out to us through our <a href="/contact">Contact Us page</a> within 3 days of receiving your product. Provide details and images of the damaged item.</li>
					<li><b>Evaluation:</b> Our team will carefully evaluate the provided information. If we conclude that the product is indeed broken or damaged upon arrival, you are eligible for a full refund or a replacement.</li>
					<li><b>Hassle-Free Refund or Replacement:</b> We are committed to making the return process as smooth as possible for you. Enjoy a risk-free refund or opt for a replacement of the damaged product.</li>
				</ol>
			</div>
			<div>
				<h2>3-Day Return Window</h2>
				<p>To be eligible for a refund without a legitimate excuse, customers must initiate the return process within 3 days of receiving their product. This time frame allows us to address any concerns promptly.</p>
			</div>
			<div>
				<h2>Exclusions</h2>
				<p>After the initial 3 days following the delivery, we are unable to process refunds for non-defective products unless there is a legitimate reason for the return.</p>
			</div>
			<div>
				<h2>Contact Us</h2>
				<p>If you have any questions or require further assistance regarding our return policy, please do not hesitate to <a href="/contact">contact us</a>. Our customer support team is here to help address any concerns you may have.</p>
			</div>
		</div>
	</section>
</Layout>

<script>
	import { initVisit } from '../../stores/visit';

	initVisit();
</script>