---
import Layout from '../layouts/Layout.astro';
import CurrentlyViewingBanner from '../components/CurrentlyViewingBanner';
import CartContents from '../components/CartContents';
import Checkout from '../components/Checkout';
import Gift from '../components/Gift';

const title = "Cart"
const description = "Streamline your shopping experience at AirWalletPro. Easily manage and review your selections in the cart. Secure checkout awaits."
---

<Layout title={title} description={description}>
	<section class="cart">
		<div class="cart-container">
			<div class="cart-checkouts">
				<span class="carticon carticon-active"></span>
				<p><CurrentlyViewingBanner checkout={true} client:only/></p>
			</div>
			<div class="cart-main">
				<div class="cart-contents">
					<CartContents client:only/>
				</div>
				<div class="cart-checkout-wrapper">
					<div class="cart-gift">
						<Gift client:only />
					</div>
					<div class="cart-checkout">
						<Checkout client:only />
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<script>
	import { initVisit } from '../stores/visit';
	
	initVisit();
</script>