---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm';

const title = "Contact"
const description = "Contact"
---

<Layout title={title} description={description}>
	<section class="contact-us">
		<div class="contact-us-container">
			<div class="1">
				<h1>Neem contact met ons op</h1>
				<p>Neem gerust contact met ons op als je problemen ondervindt met je zending, problemen hebt met je account of gebreken ontdekt in onze producten. We zijn er om je snel te helpen en je tevredenheid te garanderen.</p>
			</div>
			<div class="3">
				<h2>Hoe kunt u ons bereiken?</h2>
				<ul>
					<li>Email: nldetote@gmail.com</li>
					<li>Whatsapp: <a href="https://wa.me/31687026464">+31 6 87026464</a></li>
					<li>Contactformulier hieronder</li>
				</ul>
			</div>
			<div class="4">
				<p>Als u vragen heeft over ons retourbeleid, raadpleeg dan ons <a href="/info/retourbeleid">Retourbeleid</a> voor gedetailleerde informatie. Voor vragen over ons verzendbeleid kun je de relevante details vinden in ons <a href="/info/verzendbeleid">Verzendbeleid</a></p>
			</div>
			<div class="5">
				<p>We waarderen je feedback en doen er alles aan om je de best mogelijke ervaring te bieden.</p>
			</div>
			<div class="6">
				<h2>Contactformulier:</h2>
				<ContactForm client:load />
			</div>
		</div>
	</section>
</Layout>

<script>
	import { initVisit } from '../stores/visit';

	const generateUUID = () => {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
			const r = (Math.random() * 16) | 0;
			const v = c === 'x' ? r : (r & 0x3) | 0x8;
			return v.toString(16);
		});
	};

	initVisit().then((data) => {
		pintrk('track', 'pagevisit', {
			event_id: generateUUID(),
			ip_address: data,
		});
	});
</script>