---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Bestsellers from '../components/Bestsellers.astro';
import SmallBanner from '../components/SmallBanner.astro';
import InfoBanner from '../components/InfoBanner.astro';

const title = "DETOTE"
---

<Layout title={title}>
	<div class="index">
		<Banner />
		<Bestsellers />
		<SmallBanner />
		<InfoBanner />
	</div>
</Layout>

<script>
	import { initVisit } from '../stores/visit';
	
	const generateUUID = () => {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
			const r = (Math.random() * 16) | 0;
			const v = c === 'x' ? r : (r & 0x3) | 0x8;
			return v.toString(16);
		});
	};

	initVisit().then((data) => {
		pintrk('track', 'pagevisit', {
			event_id: generateUUID(),
			ip_address: data,
		});
	});

</script>