---
import BestProducts from "./BestProducts";
---

<div class="bestsellers">
	<div class="bestsellers-container">
		<div class="bestsellers-text">
			<h1>Shop up to <b>50%</b> off storewide</h1>
			<p>It's our biggest Black Friday Sale ever.</p>
			<a class="a-button" href="/">Shop all</a>
		</div>
		<BestProducts client:load/>
	</div>
</div>