---
import BestProducts from "./BestProducts";
---

<div class="bestsellers">
	<div class="bestsellers-container">
		<div class="bestsellers-text">
			<h1>Bekijk onze <b>bestsellers</b></h1>
			<p>Onze populairste producten</p>
			<a class="a-button" href="/producten">Bekijk alles</a>
		</div>
		<BestProducts client:load/>
	</div>
</div>