
<footer>
	<div class="footer-container">
		<div class="mail">
			<h2>Be the first to receive discounts</h2>
			<p>Sign up for exclusive offers, discounts and the latest news.</p>
			<form>
				<input type="text">
				<button type="submit">Submit</button>
			</form>
		</div>
		<div class="links">
			<div>
				<h2>Shop</h2>
				<p><a href="/">Black Friday Sale</a></p>
				<p><a href="/">View all products</a></p>
			</div>
			<div>
				<h2>Support</h2>
				<p><a href="/">Help centre</a></p>
				<p><a href="/">Contact us</a></p>
				<p><a href="/">Log in / Sign up</a></p>
			</div>
			<div>
				<h2>Information</h2>
				<p><a href="/">Shipping policy</a></p>
				<p><a href="/">Return policy</a></p>
			</div>
			<div>
				<h2>Follow</h2>
				<p><a href="/">Tiktok</a></p>
				<p><a href="/">Instagram</a></p>
				<p><a href="/">Youtube</a></p>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="bottom-container">
			<div class="payments">
				<img
					src={"/svg/Visa.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Visa"
				/>
				<img
					src={"/svg/mastercard.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Visa"
				/>
				<img
					src={"/svg/ApplePay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="ApplePay"
				/>
				<img
					src={"/svg/GooglePay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="GooglePay"
				/>
				<img
					src={"/svg/Paypal.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Paypal"
				/>
				<img
					src={"/svg/Afterpay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Afterpay"
				/>
				<img
					src={"/svg/Klarna.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Klarna"
				/>
				<img
					src={"/svg/iDeal.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="iDeal"
				/>
				<img
					src={"/svg/GiroPay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="GiroPay"
				/>
			</div>
			<p>© 2023 Ecom™ All Rights Reserved.</p>
		</div>
	</div>
</footer>