
<footer>
	<div class="footer-container">
		<div class="mail">
			<h2>Ontvang als eerste kortingen</h2>
			<p>Abonneer voor exclusieve aanbiedingen, kortingen en het laatste nieuws.</p>
			<form>
				<input type="text">
				<button type="submit">abonneren</button>
			</form>
		</div>
		<div class="links">
			<div>
				<h2>Winkel</h2>
				<p><a href="/sale">Kerstmis Sale</a></p>
				<p><a href="/products">Bekijke alle producten</a></p>
			</div>
			<div>
				<h2>Ondersteuning</h2>
				<p><a href="/contact">Contact</a></p>
				<p><a href="/account/inloggen">Inloggen / Registreren</a></p>
			</div>
			<div>
				<h2>Informatie</h2>
				<p><a href="/info/verzendbeleid">Verzendbeleid</a></p>
				<p><a href="/info/retourbeleid">Retourbeleid</a></p>
				<p><a href="/info/over-ons">Over ons</a></p>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="bottom-container">
			<div class="payments">
				<img
					src={"/svg/iDeal.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="iDeal"
				/>
				<img
					src={"/svg/Klarna.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Klarna"
				/>
				<img
					src={"/svg/ApplePay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="ApplePay"
				/>
				<img
					src={"/svg/GooglePay.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="GooglePay"
				/>
				<img
					src={"/svg/Visa.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Visa"
				/>
				<img
					src={"/svg/mastercard.svg"}
					width="35"
					decoding="async"
					loading="lazy"
					alt="Visa"
				/>				
			</div>
			<p>© 2023 AirWalletPro™ All Rights Reserved.</p>
		</div>
	</div>
</footer>