---
import CountdownTimer from "./CountdownTimer"
---
<div class="infobanner">
	<div class="infobanner-text">
		<h2>
			<CountdownTimer client:only />
		</h2>
		<h1>Mis het niet!</h1>
		<p>Profiteer van gratis verzendkosten als je binnen de aangegeven tijd een bestelling plaatst.</p>
		<a class="a-button" href="/producten">Bekijk producten</a>
	</div>
</div>
