
<div class="smallbanner">
	<h2>As seen on...</h2>
	<div class="smallbanner-images">
		<img src="/news/marketwatch.webp" width="250" decoding="async" loading="lazy" alt="MarketWatch">
		<img src="/news/bbc.webp" width="250" decoding="async" loading="lazy" alt="BBC">
		<img src="/news/cnn.webp" width="250" decoding="async" loading="lazy" alt="CNN">
		<img src="/news/forbes.webp" width="250" decoding="async" loading="lazy" alt="Forbes">
	</div>
</div>
