
<div class="smallbanner">
	<h2>Lees onze reviews</h2>
	<div class="testimonials">
		<div class="testimonial-review">
			<div class="review-top">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.9297 0.460938L18.8438 2.92188C18.1146 3.59896 17.4115 4.64062 16.7344 6.04688C16.0833 7.42708 15.7318 9.17188 15.6797 11.2812L19.7031 11.7891V19.1328H11.8906V15.6562C11.8906 15.3438 11.9036 14.6927 11.9297 13.7031C11.9557 12.6875 11.9818 12.0104 12.0078 11.6719C12.0339 11.3073 12.0729 10.6953 12.125 9.83594C12.1771 8.97656 12.2552 8.35156 12.3594 7.96094C12.4635 7.57031 12.5938 7.02344 12.75 6.32031C12.9062 5.61719 13.1016 5.05729 13.3359 4.64062C13.5964 4.22396 13.8828 3.74219 14.1953 3.19531C14.5339 2.64844 14.9245 2.16667 15.3672 1.75C15.8359 1.30729 16.3568 0.877604 16.9297 0.460938ZM5.44531 0.460938L7.35938 2.92188C6.63021 3.59896 5.92708 4.64062 5.25 6.04688C4.59896 7.42708 4.2474 9.15885 4.19531 11.2422L7.98438 11.7891V19.1328H0.171875V15.6562C0.171875 14.0677 0.184896 12.8568 0.210938 12.0234C0.236979 11.1901 0.341146 10.1224 0.523438 8.82031C0.705729 7.49219 0.966146 6.41146 1.30469 5.57812C1.66927 4.74479 2.1901 3.85938 2.86719 2.92188C3.57031 1.98438 4.42969 1.16406 5.44531 0.460938Z" fill="#EC008C"/>
				</svg>					
				<div class="stars">
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
				</div>
			</div>
			<p>Ik had een Marc Jacobs tas gekocht voor mijn dochter, hij was zorgvuldig ingepakt en de tas was fantastisch.</p>	
			<div class="person">
				<img src="/person1.png" alt="Sevda Kiraz">
				<p>~ Sevda Kiraz</p>
			</div>
		</div>
		<div class="testimonial-review">
			<div class="review-top">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.9297 0.460938L18.8438 2.92188C18.1146 3.59896 17.4115 4.64062 16.7344 6.04688C16.0833 7.42708 15.7318 9.17188 15.6797 11.2812L19.7031 11.7891V19.1328H11.8906V15.6562C11.8906 15.3438 11.9036 14.6927 11.9297 13.7031C11.9557 12.6875 11.9818 12.0104 12.0078 11.6719C12.0339 11.3073 12.0729 10.6953 12.125 9.83594C12.1771 8.97656 12.2552 8.35156 12.3594 7.96094C12.4635 7.57031 12.5938 7.02344 12.75 6.32031C12.9062 5.61719 13.1016 5.05729 13.3359 4.64062C13.5964 4.22396 13.8828 3.74219 14.1953 3.19531C14.5339 2.64844 14.9245 2.16667 15.3672 1.75C15.8359 1.30729 16.3568 0.877604 16.9297 0.460938ZM5.44531 0.460938L7.35938 2.92188C6.63021 3.59896 5.92708 4.64062 5.25 6.04688C4.59896 7.42708 4.2474 9.15885 4.19531 11.2422L7.98438 11.7891V19.1328H0.171875V15.6562C0.171875 14.0677 0.184896 12.8568 0.210938 12.0234C0.236979 11.1901 0.341146 10.1224 0.523438 8.82031C0.705729 7.49219 0.966146 6.41146 1.30469 5.57812C1.66927 4.74479 2.1901 3.85938 2.86719 2.92188C3.57031 1.98438 4.42969 1.16406 5.44531 0.460938Z" fill="white"/>
				</svg>					
				<div class="stars">
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="white"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="white"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="white"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="white"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="white"/>
					</svg>
				</div>
			</div>
			<p>Ik kreeg bij mijn bestelling van een Tote Bag gratis nike schoenen. Serieus, welk bedrijf doet zoiets? Ik ben er heel erg blij mee.</p>	
			<div class="person">
				<img src="/person2.png" alt="Anoniem">
				<p>~ Suzanne Wendels</p>
			</div>
		</div>
		<div class="testimonial-review">
			<div class="review-top">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.9297 0.460938L18.8438 2.92188C18.1146 3.59896 17.4115 4.64062 16.7344 6.04688C16.0833 7.42708 15.7318 9.17188 15.6797 11.2812L19.7031 11.7891V19.1328H11.8906V15.6562C11.8906 15.3438 11.9036 14.6927 11.9297 13.7031C11.9557 12.6875 11.9818 12.0104 12.0078 11.6719C12.0339 11.3073 12.0729 10.6953 12.125 9.83594C12.1771 8.97656 12.2552 8.35156 12.3594 7.96094C12.4635 7.57031 12.5938 7.02344 12.75 6.32031C12.9062 5.61719 13.1016 5.05729 13.3359 4.64062C13.5964 4.22396 13.8828 3.74219 14.1953 3.19531C14.5339 2.64844 14.9245 2.16667 15.3672 1.75C15.8359 1.30729 16.3568 0.877604 16.9297 0.460938ZM5.44531 0.460938L7.35938 2.92188C6.63021 3.59896 5.92708 4.64062 5.25 6.04688C4.59896 7.42708 4.2474 9.15885 4.19531 11.2422L7.98438 11.7891V19.1328H0.171875V15.6562C0.171875 14.0677 0.184896 12.8568 0.210938 12.0234C0.236979 11.1901 0.341146 10.1224 0.523438 8.82031C0.705729 7.49219 0.966146 6.41146 1.30469 5.57812C1.66927 4.74479 2.1901 3.85938 2.86719 2.92188C3.57031 1.98438 4.42969 1.16406 5.44531 0.460938Z" fill="#EC008C"/>
				</svg>					
				<div class="stars">
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
					<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95384 21.2816L11.5 0.808105L18.0462 21.2816L0.884613 8.62035H22.1154" fill="black"/>
					</svg>
				</div>
			</div>
			<p>Detote is echt top als het gaat om klantvriendelijkheid. De klantenservice is attent en mijn tote bag was goed ingepakt. 🌟</p>	
			<div class="person">
				<img src="/person3.png" alt="Dominique Renders ">
				<p>~ Dominique Renders </p>
			</div>
		</div>
	</div>
</div>
