---
import Header from '../components/Header.astro';
import '@fontsource/poppins';
import '@fontsource-variable/inter';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const defaultDesc =
  "AirWalletPro | Robust and Strong Airtag Wallet. Christmas Sale is live. Track your wallet with Apple Airtag. Suitable for cash and cards. Shop and get free shipping";

const { title, description = defaultDesc } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<style is:global>
      @import "../styles/global.css";
    </style>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
	<Footer />
</html>